<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <body>
            {{>header}}

            {{errorMess}}
            
            {{>footer}}
            {{! <h1>Help Page</h1> }}
        </body>
    </head>
</html>