<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/style.css">
        <body>
            <div class="main-content">
            {{>header}}
            <p>{{title}}</p>
            </div>
            
            {{>footer}}
            {{! <h1>Help Page</h1> }}
        </body>
    </head>
</html>